<nav class="navbar">
    <a href="#" class="navbar__logo" aria-label="TOP MUSIC">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0357/4723/3925/files/topmusic_x35.png?v=1592255994" alt="TOP MUSIC">
      </a>
    <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="navbar__menu">
        
      <ul >
        <li>
           {% for link in linklists[section.settings.primary_navigation].links%}
              {% assign child_list_handle = link.title | handleize %}
              {% if link.links != blank %}
               
              {% else %}
                <li>
                  <a class="navbar__link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
        </li>
      </ul>
    </div>
</nav>
<style>
    html{
    scrollbar-color: #e60010 #000 !important;
    scrollbar-width: auto !important;
  }
  /*Webkit*/
  html::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
  }
  html::-webkit-scrollbar-track {
    background-color: #000 !important;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #e60010 !important;
  }
ul{
  list-style:none !important; 
  }
  li{
  list-style:none !important; 
      display: inline-block;
  }
  .navbar{
    background: #000;
    height: 10vh;
    padding: 0.5rem calc((100vw - 1770px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbar__logo{
    color: #fff;
    text-decoration: none;
    padding-left:1rem;
    font-size: 1.5rem;
}
.navbar__link{
    color:#fff;
    text-decoration: none;
    padding: 0rem 1rem;
    transition: 0.3s all ease-in;
}
.navbar__link:hover{
    color: #e60010;
    transition: 0.3s all ease-in-out;
}
@media screen and (max-width:1400px){
	  .navbar{
   
    height: 15vh;
    padding: 0.5rem calc((100vw - 1370px) / 2);
      }
  .navbar__logo {

  padding-left: 2rem;
  font-size: 3.5rem;
	}
  ul {
  text-align: center;
  }
}
@media screen and (max-width:1000px){
    body.active{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    li{
      justify-content: center;
      display: flex !important;
    }
  ul {
  text-align: inherit !important;
  }
  .navbar{
   
    height: 10vh;
      }
    .navbar__link{
        display: flex;
        align-items: center;
        justify-content: center;
      margin-left: -3rem !important;
      padding: 0.3rem !important;
font-size: 2rem;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }
    .navbar__menu.active{
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: #000;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }
}
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%) ;
        -webkit-transform: translate(5%,20%) ;
        -moz-transform: translate(5%,20%) ;
        -ms-transform: translate(5%,20%) ;
        -o-transform: translate(5%,20%) ;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
        -webkit-transform:translateY(8px) rotate(45deg);
        -moz-transform:translateY(8px) rotate(45deg);
        -ms-transform:translateY(8px) rotate(45deg);
        -o-transform:translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
}
</style>

<footer class="site-footer" role="contentinfo" data-section-type="footer" data-section-id="{{ section.id }}" {% if section.settings.enable_parallax %}data-footer-parallax{% endif %} data-section-id="{{ section.id }}" data-section-type="footer">
    <div class="page-width">
      {% if menu_enabled or section.settings.show_newsletter %}
        <div class="flex-footer{% unless section.settings.show_newsletter %} flex-footer--full text-center{% endunless %}">
          {% for block in section.blocks %}
            <div class="flex-footer__item flex-footer__item--{{ block.type }}" {{ block.shopify_attributes }}>
              {% case block.type %}
              {% when 'menu' %}
                {%- assign link_list = block.settings.link_list -%}
                <ul class="site-footer__linklist">
                  {% for link in linklists[link_list].links %}
                    <li class="site-footer__linklist-item h6">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endcase %}
            </div>
          {% endfor %}
  
          {% if section.settings.show_newsletter %}
            <div class="flex-footer__item flex-footer__item--newsletter">
              <div class="site-footer__newsletter">
                {% form 'customer' %}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <label for="NewsletterEmail" class="site-footer__newsletter-label">{{ section.settings.newsletter_heading }}</label>
                  <div class="site-footer__newsletter-subheading">{{ section.settings.newsletter_subheading }}</div>
                  <div class="input-group--underline">
                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="NewsletterEmail" class="input-group__field site-footer__newsletter-input" aria-label="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" autocorrect="off" autocapitalize="off">
                    <div class="input-group__btn input-group__btn--newsletter">
                      <button type="submit" class="btn--newsletter__submit">
                        {{ 'general.newsletter_form.submit' | t }}
                        {% include 'icon-arrow-right' %}
                      </button>
                    </div>
                  </div>
                  <div class="site-footer__newsletter-message" aria-role="alert">
                    {% if form.posted_successfully? %}
                      <p class="form-success" aria-role="alert">{{ 'general.newsletter_form.confirmation' | t }}</p>
                    {% endif %}
                    {{ form.errors | default_errors }}</div>
                {% endform %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
  
      <div class="site-footer__bottom{% unless section.settings.show_social_icons or section.settings.show_payment_icons %} site-footer__bottom--center{% endunless %}">
        {% if section.settings.show_social_icons %}
          <div class="site-footer__social-icons flex-footer__item--one-third">
            {% include 'social-links', disableTab: true, largeIcons: false %}
          </div>
        {% endif %}
  
        <div class="site-footer__copyright flex-footer__item--one-third" >
          <small class="site__footer_link">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}.</small>
        </div>
  
        {%- if section.settings.show_payment_icons -%}
          <div class="site-footer__payment-icons flex-footer__item--one-third">
            {%- unless shop.enabled_payment_types == empty -%}
              <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
              <ul class="payment-icons list--inline">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="payment-icon">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endunless -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  
    {% if section.settings.enable_parallax %}
      <div class="site-footer__drawer-cover"></div>
    {% endif %}
  </footer>