
/*carrusel*/
.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .mySwiper2 {
    height: 720px !important;
    width: 100%;
    object-fit: cover !important;
  }
  @media screen and (max-width:1500px) {
    .mySwiper2 {
      width: 100%;
      height: 520px !important;
    }
  }
  @media screen and (max-width:1380px) {
    .mySwiper2 {
      width: 100%;
      height: 480px !important;
    }
  }
  @media screen and (max-width:1080px) {
    .mySwiper2 {
      width: 100%;
      height: 430px !important;
    }
  }
  @media screen and (max-width:770px) {
    .mySwiper2 {
      margin-top: 0rem !important;
    }
  }
  @media screen and (max-width:600px) {
    .mySwiper2 {
      width: 100%;
      height: 216px !important;
      margin-top: -3rem !important;
    }
  }
 
  .swiper-button-prev,.swiper-button-next {
      position: absolute;
      top: 50%;
      z-index: 10;
      color: #fff !important;
      background-color: var(--yellow);
      background-position: center;
      cursor: pointer;
      border-radius: 50%;
      width: 2rem !important;
      height: 2rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
      font-size: 1rem !important;
      display: block !important;
      margin: auto !important;
  }
  .swiper-pagination-bullet {
        background: #fff !important;
      width: 2rem !important;
      height: 2rem !important;
  }
  .swiper-pagination-bullet-active {
      opacity: var(--swiper-pagination-bullet-opacity, 1);
      background-color: #f8bb31 !important;
  }
  @media screen and (max-width:1370px){
    .swiper-slide img {
      height: auto !important; 
    }
  }
  @media screen and (max-width:400px) {
    .mySwiper2 {
      width: 100%;
      height: 200px !important;
    }
    .swiper-pagination-bullet {
      display: none !important;
    }
  }
  @media screen and (max-width:600px) {
    .swiper-pagination-bullet {
      display: none !important;
    }
  }
  /*fin de carrusel*/
  .caption-text{
    width:20%;
    color:#000;
    font-size:12px;
    padding:15px 10px;
    position:absolute;
    left:48rem;
    bottom:4rem;
    background:var(--yellow);
    text-align:center;
    display:block;
    margin:auto;
    text-decoration: none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

@media screen and (max-width:1370px){
  .imare{
      height:510px
  }
  .caption-text{
      left:34rem
  }
}
@media screen and (max-width:1050px){
  .caption-text{
      left:26rem
  }
}
@media screen and (max-width:900px){
  .caption-text{
    left: auto;
    width: auto;
    bottom: 1rem;
  }
}
@media screen and (max-width:500px){
  .caption-text{
    left: auto;
    width: auto;
    bottom: 1rem;
  }
}