
/*carrusel*/
.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .mySwiper2 {
    height: 720px !important;
    width: 100%;
    object-fit: cover !important;
  }
  @media screen and (max-width:1500px) {
    .mySwiper2 {
      width: 100%;
      height: 450px !important;
    }
  }
  @media screen and (max-width:1080px) {
    .mySwiper2 {
      width: 100%;
      height: 430px !important;
    }
  }
  @media screen and (max-width:770px) {
    .mySwiper2 {
      margin-top: 0rem !important;
    }
  }
  @media screen and (max-width:600px) {
    .mySwiper2 {
      width: 100%;
      height: 216px !important;
      margin-top: -3rem !important;
    }
  }
 
  .swiper-button-prev,.swiper-button-next {
      position: absolute;
      top: 50%;
      z-index: 10;
      color: #fff !important;
      background-color: var(--yellow);
      background-position: center;
      cursor: pointer;
      border-radius: 50%;
      width: 2rem !important;
      height: 2rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
      font-size: 1rem !important;
      display: block !important;
      margin: auto !important;
  }
  .swiper-pagination-bullet {
        background: #fff !important;
      width: 2rem !important;
      height: 2rem !important;
  }
  .swiper-pagination-bullet-active {
      opacity: var(--swiper-pagination-bullet-opacity, 1);
      background-color: #f8bb31 !important;
  }
  @media screen and (max-width:1370px){
    .swiper-slide img {
      height: auto !important; 
    }
  }
  @media screen and (max-width:400px) {
    .mySwiper2 {
      width: 100%;
      height: 200px !important;
    }
    .swiper-pagination-bullet {
      display: none !important;
    }
  }
  @media screen and (max-width:600px) {
    .swiper-pagination-bullet {
      display: none !important;
    }
  }
  /*fin de carrusel*/