:root {
   
    --yellow: #F8BB31;
    --black:#000;
    --white:#fff;
}
::selection {
	color: #000;
	background-color: var(--yellow);
}
::-moz-selection {
	color: #000;
	background-color: var(--yellow);
}
/*Firefox*/
html{
    scrollbar-color: var(--yellow) #000;
    scrollbar-width: thin;
}
/*Webkit*/
html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
html::-webkit-scrollbar-track {
    background-color: #000;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}
html{
  scroll-behavior:smooth
}
/*titulo inicial*/
  .fundacion__title {
    margin-top: 2rem;
    font-size: 72px;
    line-height: 92px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.015em;
  color: #000;
  }
  @media screen and (max-width:800px) {
    .fundacion__title {
        margin-top: 2rem;
        font-size: 29px !important;
      }
  }
  @media screen and (max-width:400px) {
    .fundacion__title {
      margin-top: 2rem;
      font-size: 25px !important;
      line-height: inherit;
      margin-bottom: 2rem;
  }
  }
  .grid__text {
    display: grid;
    gap: 3.5rem;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto auto; 
    justify-content: center;
    margin-top: 2rem;
  }
  .grid__text p{
    color: #000;
    text-align: justify;
    font-size: 20px;
  }
  .ulti__text{
    color: #000;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 3rem;
  }
  .grid__but{
    display: grid;
    gap: 3.5rem;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto auto; 
    justify-content: center;
    margin-bottom: 1rem;
  }
  @media screen and (max-width:969px) {
    .grid__text {
      grid-template-columns: repeat(1,auto);
      gap: 1.5rem;
      margin-top: 0rem;
    }
    .bd-containerp{
      margin-left: auto;
      margin-right: auto;
    }
    .grid__text p{
      font-size: 16px;
    }
    .ulti__text{
      font-size: 16px;
    }
    .grid__but{
      grid-template-columns: repeat(2,auto);
      gap: 1.5rem;
    }
  }
/*fin de titulo inicial*/
/*botones*/
.grid__but > a:nth-child(1) > button:nth-child(1) {
  background: #7dbb34 !important;
  color: #fff;
 }
 .grid__but > a:nth-child(2) > button:nth-child(1) {
  background: #1f2b7d !important;
  color: #fff;
 }
 .grid__but > a:nth-child(3) > button:nth-child(1) {
  background: #ff8000 !important;
  color: #fff;
 }
 .grid__but > a:nth-child(4) > button:nth-child(1) {
  background: #662d90 !important;
  color: #fff;
 }
 
/*fondo de la ciudad*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 7rem;
    }
    .first__container,.second__container {
        padding: 0 6rem;
    }
    .pad__none{
      padding: 0 !important;
    }
 }
 @media screen and (min-width: 968px) {
    .bd-containere,.bd-containerp  {
        margin-left: auto;
        margin-right: auto;
    }
    .first__container,
    .second__container {
        column-gap: 5rem;
    }
 }
 
 @media screen and (min-width: 576px) {
    .first__container,
    .second__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }.second__data {
        text-align: initial;
    }
 }
.fondo{
    background-image: url(../img/hm/boxed-bg.png);
    height: auto;
    background-color: #32084a;
  }
  .fondo__webp{
    background-image: url(../img/hm/boxed-bg.webp);
    height: auto;
    background-color: #32084a;
  }
  .fondo__title{
    color: var(--white);
    font-size: 54px;
    text-align: center;
  }
  .fondo__parr{
    color: var(--white);
    margin-top: 2rem;
    font-size: 17px;
    text-align: justify;
  }
 .video {
    border: 0;
    width: 100%;
    height: 18rem;
    display: block;
    object-fit: cover;
    border-radius: 0.2rem;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 2rem;
  }
  @media screen and (max-width:710px) {
    .fondo__title{
      font-size: 30px;
      margin-top: -1rem;
    }
    .fondo__parr {
      margin-top: 2rem;
      font-size: 16px;
      text-align: center;
    }
    .bd-containere{
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    .bd-grid-ciudad {
      display: grid;
      gap: 1.5rem !important;
    }
    .video {
      height: 15rem !important;
    }
  }
  @media screen and (max-width:500px) {
    .video {
      height: 10rem !important;
    }
  }
/*fondo fin de la ciudad*/
/*contacto*/
.whoher{
    padding:2rem calc((100vw - 1400px)/ 2);
    margin-bottom: 2rem;
  }
  .whoher__container{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:1rem
  }
  .whoher__heading{
    margin-top: 2rem;
    margin-bottom:2rem;
    font-size:clamp(2rem,6vw,3rem);
    text-transform:capitalize!important
  }
  .whoher__features{
    list-style:none
  }
  .whoher__feature{
    margin-top:2.5rem;
    margin-bottom:1.5rem;
    font-size:clamp(1rem,5vw,1.2rem);
  }
  .whoher__par{
    margin-top: 2.5rem !important;
    width: 80%;
    display: block;
    text-align: justify;
  }
  .whoher__par span{
    font-weight: 800;
  }
  .whoher__par a{
    color: var(--black);
    text-decoration: none;
  }
  .contac__colu{
    display: grid;
    grid-template-columns:repeat(2,1fr);
  }
  .mapa{
    border:0;
    width:90%;
    height:10rem;
    display:block;
    margin-top: 1rem;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    border-radius: 0.2rem;
  }
  .text{
    width:100%;
    margin:auto;
    border-radius:5px;
    border:1px solid var(--yellow);
    padding:1.5rem;
    margin-top:1rem;
    margin-bottom:2rem;
  }
  .textes{
    width:100%;
    margin:auto;
    border-radius:5px;
    border:1px solid var(--yellow);
    padding:1.5rem;
    margin-top:1rem;
    margin-bottom:2rem;
    height: 5rem;
  }
  textarea{
    resize:none;
  }
  ::placeholder{
    color:var(--black) !important;
    font-size: 1rem;
    font-family: 'Allerta', sans-serif;
  }
  @media screen and (max-width:1370px){
    .whoher {
      padding: 2rem calc(100vw - 1260px) !important;
      margin-bottom: 2rem;
    }
    .grid__text p{
      color: #000;
      text-align: justify;
      font-size: 18px;
    }
    .ulti__text{
      font-size: 18px;
    }
  }
  @media screen and (max-width:1080px) {
    .whoher {
      margin-bottom: -2rem !important;
    }
  }
  @media screen and (max-width:1000px) {
    .whoher {
        padding: 2rem calc(100vw - 960px) !important;
        margin-bottom: 2rem;
      }
      .btn__mas{
        margin-bottom: 2rem;
        }
  }
  @media screen and (max-width:850px){
    .whoher{
        padding:0 calc((100vw - 1400px)/ 2);
        margin-top:-2rem
    }
    .whoher__container{
        grid-template-columns:1fr;
    }
    .whoher__img{
        width:80%!important;
        height:80%!important;
        border-radius:10px;
        margin-left:0!important;
        object-fit:cover!important;
        margin:auto!important;
        display:block!important
    }
    .espacio{
        height:2rem;
        display:inline-block
    }
    .whoher__heading{
        text-align:center;
        margin-bottom: 0rem !important;
    }
    .whoher__features{
        text-align:justify
    }
    .whoher__feature{
        text-align:justify!important
    }
    .contac__colu{
      grid-template-columns:repeat(1,1fr);
    }
    .video{
      width: 100%;
    }
    .whoher__par {
      width: 100%;
      display: block;
      text-align: initial;
      margin-bottom: 2rem;
      margin-top: 0rem !important;
    }
    .mapa{
      width:100% !important;
    }
    .top{
      margin-top: 4rem !important;
    }
    .grid__text p {
      color: #000;
      text-align: justify;
      font-size: 16px !important;
    }
    .ulti__text {
      font-size: 16px;
    }
  }
  .btn__mas{
    background:var(--yellow);
    background-image: url(../img/deta/txt.png);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    width: 10rem;
    font-size: 1rem;
  }
  .btn__mas:hover{
    cursor: pointer;
  }
  .btn__mas__web:hover{
    cursor: pointer;
  }
  .btn__mas,.btn__mas__web a{
    color: var(--black);
    font-size: 1rem;
  }
  .btn__mas__web{
    background:var(--yellow);
    background-image: url(../img/deta/txt.webp);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    width: 10rem;
    font-size: 1rem;
  }
  .btn__cono{
    background:transparent;
    border: 2px solid var(--yellow);
    padding: 1rem;
    border-radius: 10px;
    width: 10rem;
    font-size: 1rem;
    color: #fff !important;
    margin-top: 2rem;
}
  .btn__cono:hover{
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border: 2px solid #32084a;
    background: #32084a;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
/*fin de contacto*/
/**footer**/
.footer{
    background-color:var(--black);
    background-image: url(../img/orgu/Textura-2.png);
  }
  .footer{
    background-color:var(--black);
    background-image: url(../img/orgu/Textura-2.webp);
  }
  .footer__container{
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    margin-bottom: 2rem;
  }
  .footer__logo{
    color:var(--title-color)
  }
  .footer__title{
    color: var(--yellow);
    margin-bottom: 1.5rem;
  }
  .dere{
    margin-left: 3rem;
  }
  .footer__description{
    color:var(--white);
  }
  .footer__logo,.footer__title{
    font-size:var(--h3-font-size)
  }
  .footer__link{
    display:inline-block;
    margin-bottom:.75rem;
    color:var(--white);
    text-decoration: none;
  }
  .footer__link:hover{
    transition: 0.3s ease-in;
    color:var(--yellow);
  }
  .footer__social{
    font-size:1.5rem;
    color:var(--white);
    margin-right:var(--mb-3)
  }
  .footer__social:hover{
    transition: 0.3s ease-in;
    color:var(--yellow);
  }
  .footer__copy{
    text-align:center;
    height: 3rem;
    padding: 1rem;
    background:var(--yellow);
    font-weight: 800;
    color: #fff !important;
	 background-image: url(../img/deta/foot__copy__web.jpg);
    object-fit: cover;
  }
  .footer__copy__web{
    text-align:center;
    height: 3rem;
    padding: 1rem;
    background:var(--yellow);
    color: #fff !important;
	  background-image: url(../img/deta/foot__copy__web.webp);
    object-fit: cover;
  }
  .bd-container {
      width: calc(100% - 3rem);
      margin-left: auto;
      margin-right: auto;
  }
   .section {
      padding: 4rem 0 2rem;
   }
   .bd-containere  {
      max-width: 1300px;
      width: calc(100% - 3rem);
   }
   .bd-containerp{
     max-width: 1500px;
     width: calc(100% - 3rem);
   }
  
   .bd-grid {
      display: grid;
      gap: 1.5rem;
   }
   .bd-grid-ciudad {
    display: grid;
    gap: 6.5rem;
  }
   @media screen and (min-width: 968px) {
      .bd-containere,.bd-containerp  {
          margin-left: auto;
          margin-right: auto;
      }
   }
  @media screen and (max-width:1080px) {
      .dere{
        margin-left: 1rem;
      }
    .footer__container {
      grid-template-columns: repeat(auto-fit,minmax(180px,1fr)) !important;
    }
  }
  @media screen and (max-width:968px) {
    .footer__copy{
      height: 4rem !important;
    }
  }