*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.hero__albert{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0,0,0,0.5)), url(../img/albert__dek.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1600px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:850px) {
    .hero__albert{
        background: linear-gradient(to right, rgba(0,0,0,0.75),
        rgba(0,0,0,0.5)), url(../img/albert__tab.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
    }
}
@media screen and (max-width:500px) {
    .hero__albert{
        background: linear-gradient(to right, rgba(0,0,0,0.75),
        rgba(0,0,0,0.5)), url(../img/albert__movi.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
        height: 100vh;
    }
}
.albert__img{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: -5rem;
    object-fit: cover;
}
.hero__content{
    color: #fff;
    padding: 1rem 1rem;
    line-height: 1;
}
.albert__tit{
    font-size: 7rem !important;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 4rem;
}
.albert__titu{
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.albert__line {
    width: 30%;
    margin: auto;
    display: block;
    border: 1px solid #fff;
}
@media screen and (max-width:1500px) {
    .albert__img{
        width: 80%;
        margin-top: -6rem;
    }
    .albert__tit{
        font-size: 5rem !important;
        margin-bottom: 1rem;
    }
    .albert__titu{
        font-size: 4rem;
        margin-bottom: 0rem;
    }
}
@media screen and (max-width:1030px) {
    .albert__tit{
        font-size: 5rem !important;
    }
}
@media screen and (max-width:850px) {
    .albert__tit{
        font-size: 5rem !important;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:770px) {
    .hero__content {
        color: #fff;
        padding: 1rem 1rem !important;
    }      
    .albert__tit{
        font-size: 5rem !important;
    }
    .albert__titu{
        font-size: 4rem;
        margin-bottom: 0rem;
    }
}
@media screen and (max-width:500px) {
    body{
        overflow: hidden;
    }
    .hero__content {
        padding: 0rem 0rem !important;
    } 
    .albert__tit{
        font-size: 2rem !important;
    }
    .albert__titu{
        font-size: 2rem;
    }
    .albert__img{
        width: 90%;
        margin-top: -12rem;
    }
}
@media screen and (max-width:380px) {
    .hero__content {
        padding: 0rem 0rem !important;
    } 
    .albert__tit{
        font-size: 2rem !important;
    }
    .albert__titu{
        font-size: 2rem;
    }
}