.bd-containeren {
    width: 100%;
    background-color: #d20370;
}
@media screen and (min-width: 576px) {
  .first__container,
  .second__container,.nos__container{
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
  }
  .section-title-center-head,
  .first__data,.second__data {
      text-align: initial;
  }
  .nos__container{
    padding: 1rem;
  }
}
.bd-grid {
  display: grid;
  gap: 1.5rem;
}
.nos__container{
  row-gap:.5rem
}
.nos__container{
  column-gap:5rem
}
.nos__img{
  order:1;
}
.nos__imagen {
  width: 90%;
  height: 30rem;
  border-radius: 10px;
  object-fit: cover !important;
  margin-bottom: 1.5rem;
  display: block !important;
  padding: 1rem;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.first__data{
  margin-left: 12rem !important;
  width: 90%;
}
.first__description{
  width: 80%;
}
.section-title-center-head{
  font-weight: normal;
  font-size: 60px;
  margin-bottom: 2rem;
  color: #fff;
}
.color__head{
  color: #000;
}
.first__description,.second__description{
  font-size: 18px;
  margin-bottom: 5rem;
  color: #fff;
}
.btn__dona{
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
  text-decoration: none;
  margin-left: 3rem;
}
.btn__orgu{
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (max-width:1500px) {
  .nos__imagen {
      margin-left: 4rem;
      margin-bottom: 1.5rem;
      width: 80%;
  }
  .first__data{
      margin-left: 2rem !important;
  }
  .first__description{
    width: 100%;
  }
  .fundacion__nos {
	font-size: 40px !important;
}
.fundacion__text {
    font-size: 1.2rem !important;
}
}
@media screen and (max-width:968px){
  .nos__img{
      order:1;
  }
  .nos__imagen {
    margin-top: 0rem !important;
  }
  .nos__imagen {
      width: 100% !important;
      margin-left: -2rem;
      margin-bottom: 1.5rem;
  }
  .first__data{
      margin-left: 3rem !important;
  }
  
}
@media screen and (max-width:820px) {
  .nos__container {
    padding: 2rem;
  }
  .nos__imagen {
      width: 100%;
  } 
  .section-title-center-head{
      font-size: 40px;
      margin-bottom: 2rem;
  }
  .first__description,.second__description{
      font-size: 16px;
      margin-top: -1rem;
      margin-bottom: 3rem;
  }
  .first__description{
      width: 100%;
  }
}
@media screen and (max-width:770px) {
  .btn__dona{
      margin-left: 1rem;
  }
}
@media screen and (max-width:600px){
  .section-title-center-head{
      margin-top: -5rem;
      font-size: 30px !important;
      margin-left: -3rem;
  }
  .first__description,.second__description{
      font-size: 16px;
      margin-top: -1rem;
      margin-bottom: 3rem;
      margin-left: -3rem;
  }
  .first__description{
      width: 120%;
  }
  .esp__btn{
      margin-top: 3rem !important;
      margin-bottom: -1.5rem !important;
  }
  .nos__imagen {
      width: 100% !important;
      margin-left: 0.1rem;
      margin-bottom: 1.5rem;
  }
  .btn__mas{
      margin-left: -3rem;
  }
  .btn__dona{
      margin-left: 1rem;
      margin-top: -4rem !important;
  }
}
@media screen and (max-width:360px) {
  .section-title-center-head{
      margin-top: -5rem;
      font-size: 29px !important;
      margin-left: -3rem;
  }
  .first__description{
      font-size: 16px;
      margin-top: -1rem;
      margin-left: -3rem;
  }
  .first__description{
      width: 125%;
  }
}
/*finde nosostros head*/
.bd-containero{
    max-width: 1390px !important;
	width: calc(100% - 3rem);
	margin-left: auto;
	margin-right: auto;
}
.fundacion__nos {
	margin-top: 3rem;
	font-size: 50px;
	line-height: 92px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	letter-spacing: -0.015em;
	color: #000000;
}
.nos__bar{
    border: 1px solid #F8BB31;
    width: 60%;
    display: block;
    margin: auto;
}
.fundacion__text{
    text-align: center;
    color: #000;
    font-size: 1.5rem;
}
@media screen and (max-width:450px) {
    .fundacion__nos {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 25px !important;
        line-height: inherit;
        text-align: justify;
        color: #000000;
    }
    .fundacion__text{
        font-size: 1rem !important;
        margin-top: -2rem;
        text-align: justify;
    }
    .nosotros__description {
        color: #000;
        margin-bottom: 2rem;
        font-size: 1rem !important;
        text-align: justify;
    }
   
}
.nosotros__description{
    color: #000;
    margin-bottom: 2rem;
    font-size: 18px;
}
.first__des{
    margin-top: 3rem;
}
@media screen and (max-width:600px) {
    .first__des{
        margin-top: 1.4rem;
    }
}

.bd-containeron{
    max-width: 1500px !important;
	margin-left: auto;
	margin-right: auto;
}
.fondo__claro{
    background-image: url(../../img/fescla/top_claroquesepuede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.fondes__claro{
    background-image: url(../../img/fescla/pageTOP_despiertaMX.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.claro__fes{
    margin-top: 3rem;
    font-size: 60px;
}
.cla__img{
    width: 70%;
    display: block;
    margin: auto;
    object-fit: cover;
}
.des__img{
    width: 70%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.grid__text p{
    color: #fff;
    margin-top: 3rem;
    padding: 1rem;
}
.grid__claro {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: auto auto;
    justify-content: center;
    margin-top: 2rem;
}
.grid__claro p{
    text-align: center;
    font-size: 20px;
}
.icono_claro{
    font-size: 1.5rem;
    color: #7bc146;
}
.icono_des{
    font-size: 1.5rem;
    color: #178394;
}
.grid__demos{
    display: grid;
    gap: 4.5rem;
    grid-template-columns: repeat(2,auto);
    margin-top: 0rem;
}
.video__claro{
    margin: auto;
    display: block;
    width: 100%;
    height: 50% !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (max-width:1500px) {
    .bd-containeron,.bd-containerp{
        max-width: 1200px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .fondo__claro{
        padding: 0.2rem;
        height: 15rem;
    }
    .grid__text p{
        color: #fff;
        margin-top: 0.5rem;
        padding: 1rem;
    }
    .grid__claro p {
        text-align: center;
        font-size: 18px;
      }
}
@media screen and (max-width:1100px) {
    .bd-containeron,.bd-containerp{
        max-width: 900px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .grid__claro {
        display: grid;
        gap: 2.5rem;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto auto;
        justify-content: center;
        margin-top: 2rem;
    }
    .claro__fes {
        margin-top: 3rem;
        font-size: 50px;
    }
    .grid__demos{
        display: grid;
        gap: 4.5rem;
        grid-template-columns: repeat(2,auto);
        margin-top: 2rem;
    }
}
@media screen and (max-width:800px) {
    .bd-containeron,.bd-containerp{
        max-width: 700px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .fondo__claro {
        padding: 0.2rem;
        height: 21rem;
    }
    .grid__text {
        grid-template-columns: repeat(1,auto);
        gap: 0.5rem;
        margin-top: 0rem;
    }
    .grid__claro {
        display: grid;
        gap: 2.5rem;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto auto;
        justify-content: center;
        margin-top: 2rem;
    }
    .claro__fes {
        margin-top: 3rem;
        font-size: 40px;
    }
    .grid__demos{
        display: grid;
        gap: 4.5rem;
        grid-template-columns: repeat(2,auto);
        margin-top: 2rem;
    }
    .nos__imagen {
    width: 100% !important;
    margin-left: 0.1rem;
    margin-bottom: 1.5rem;
    height: 15rem;
    }
}
@media screen and (max-width:500px) {
  .bd-containerp{
        max-width: 400px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .bd-containeron{
        max-width: 350px !important;
    }
    .fondo__claro {
        padding: 0.2rem;
        height: 28rem;
    }
    .grid__text {
        grid-template-columns: repeat(1,auto);
        gap: 0.5rem;
        margin-top: 0rem;
    }
    .grid__claro {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(1,auto);
        grid-template-rows: auto auto;
        justify-content: center;
        margin-top: 2rem;
    }
    .claro__fes {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 25px;
        text-align: initial;
    }
    .grid__text p {
        text-align: justify;
        font-size: 16px;
    }
    .grid__text > p:nth-child(2) {
        margin-top: -1rem;
    }
    .grid__claro p {
        text-align: justify;
        font-size: 16px;
    }
    .grid__demos{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(1,auto);
        margin-top: 2rem;
    }
    .nos__imagen {
        width: 100% !important;
        margin-left: 0.1rem;
        margin-bottom: 1.5rem;
        height: 15rem;
    }
    .video__claro{
       display: none !important;
    }
    .cla__img {
        width: 90%;
        display: block;
        margin: auto;
        object-fit: cover;
    }
}