.bd-containeren{
    width: 100%;
    background-image: url(../../img/nos/deta/fon__home.jpg);
}
.amor__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1500px;
    padding: 1rem;
    justify-content: center;
    justify-items: center;
    margin: auto;
}
.img__amor{
    width: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
}
.section {
    padding: 3rem 0 3rem;
}
.section-title-center-head {
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 2rem;
    color: #fff;
}
.color__head{
    color: #F8BB31;
}
.first__description{
    font-size: 18px;
    margin-bottom: 5rem;
    color: #fff;
}
.btn__dona{
    padding: 1rem;
    border: 1px solid #F8BB31;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    text-decoration: none;
    margin-left: 3rem;
}
.btn__orgu{
      padding: 1rem;
      color: #000;
      text-decoration: none;
      background-color: #F8BB31;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
@media screen and (max-width:1500px) {
    .amor__container {
        max-width: 1300px;
      }
      .amor__img{
        order: -1 !important;
    }
}
@media screen and (max-width:1280px) {
    .amor__container {
        max-width: 1160px;
      }
}
@media screen and (max-width:1030px) {
    .amor__container {
        max-width: 940px;
    }
    .section-title-center-head {
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 2rem;
        color: #fff;
    }
    
}
@media screen and (max-width:780px) {
    .amor__container{
        grid-template-columns: repeat(1, 1fr);
    }
    .img__amor {
        width: 100%;
    }
    .first__description{
        font-size: 18px;
        margin-bottom: 3rem;
        color: #fff;
    }
    .botones__container {
        margin-bottom: 3rem;
    }
    .amor__img {
        width: 80%;
    }
    .amor__img{
        order: 1 !important;
    }
    
}
@media screen and (max-width:500px) {
    .amor__img {
        width: 100%;
    }
    .img__amor {
        width: 100%;
    }
    .botones__container {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}
/*finde nosostros head*/
/*priimer seccionn*/
.nosotros__description{
    color: #000;
    margin-bottom: 3rem;
}
.bd-containero{
    max-width: 1390px !important;
	width: calc(100% - 3rem);
	margin-left: auto;
	margin-right: auto;
}
.nosotros__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2.5rem;
}
.end__artes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2.5rem;
}
.nosotros__imagen{
    width: 100%;
    display: block;
    margin: auto;
    padding: 1rem;
    border: 2px solid #4d1b70;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    object-fit: cover;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
@media screen and (max-width:1400px) {
    .nosotros__imagen{
        width: 100%;
    }
}
.link__alt{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.card__container{
    grid-template-columns: repeat(2,700px);
    justify-content: center;
}
.card{
    background: var(--black);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #fff;
    border-radius: 10px;
}
.card__title{
    color: var(--yellow);
    text-align: center;
    padding: 2rem;
}
.card__description{
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}
.card__line{
    width: 50%;
    margin: auto;
    display: block;
    border: 1px solid #F8BB31;
}
.card__img{
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1rem;
    margin: auto;
    display: block;
    margin-bottom: 2rem;
}
@media screen and (max-width:1450px){
    .card__container{
      grid-template-columns: repeat(2,1fr);
      justify-content: center;
    }
}
@media screen and (max-width:1000px) {
    .nosotros__container,.end__artes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:1.5rem;
    }
    .card__container{
      grid-template-columns: repeat(1,auto) !important;
      justify-content: center;
    }
    .nosotros__description{
        color: #000;
        margin-bottom: 1rem;
    }
}
.end__description{
    margin-top: 3rem;
    color: #000;
    margin-bottom: -1rem;
}
.end__img{
    display: block;
    margin: auto;
    object-fit: cover;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    padding: 1rem;
    border: 2px solid #7bbb34;
    width: 100%;
}
.ende__img{
    display: block;
    margin: auto;
    object-fit: cover;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    padding: 1rem;
    border: 2px solid #1c57d6;
    width: 100%;
}
p.end__description:nth-child(3) {
    margin-bottom: 3rem;
}
@media screen and (max-width:420px) {
    .nosotros__description {
        margin-bottom: 4rem;
        margin-top: -2rem;
        text-align: justify;
      }
      .nosotros__imagen {
        width: 100%;
        margin-top: -4rem;
      }
      .card__description{
          text-align: justify;
      }
      .end__description{
          text-align: justify;
      }
      .end__artes{
          grid-gap: 1rem !important;
          margin-top: -1rem;
      }
}
   