.bd-containeren{
  width: 100%;
  background-image: url(../../img/don/deta/fon__don.jpg);
}
.amor__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 1500px;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
  margin: auto;
}
.img__amor{
  width: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
}
.section {
  padding: 3rem 0 3rem;
}
.section-title-center-head {
  font-weight: normal;
  font-size: 60px;
  margin-bottom: 2rem;
  color: #fff;
}
.color__head{
  color: #F8BB31;
}
.first__description{
  font-size: 18px;
  margin-bottom: 5rem;
  color: #fff;
}
.btn__dona{
  padding: 1rem;
  border: 1px solid #F8BB31;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
  text-decoration: none;
  margin-left: 3rem;
}
.btn__orgu{
    padding: 1rem;
    color: #000;
    text-decoration: none;
    background-color: #F8BB31;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.amor__img{
  order: 1 !important;
}
@media screen and (max-width:1500px) {
  .amor__container {
      max-width: 1300px;
    }
    .amor__img{
      order: 1 !important;
  }
}
@media screen and (max-width:1280px) {
  .amor__container {
      max-width: 1160px;
    }
}
@media screen and (max-width:1030px) {
  .amor__container {
      max-width: 940px;
  }
  .section-title-center-head {
      font-weight: normal;
      font-size: 40px;
      margin-bottom: 2rem;
      color: #fff;
  }
  
}
@media screen and (max-width:780px) {
  .amor__container{
      grid-template-columns: repeat(1, 1fr);
  }
  .img__amor {
      width: 100%;
  }
  .first__description{
      font-size: 18px;
      margin-bottom: 3rem;
      color: #fff;
  }
  .botones__container {
      margin-bottom: 3rem;
  }
  .amor__img {
      width: 80%;
  }
  .amor__img{
      order: 1 !important;
  }
  
}
@media screen and (max-width:500px) {
  .amor__img {
      width: 100%;
  }
  .img__amor {
      width: 100%;
  }
  .botones__container {
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
  }
}
/*finde nosostros head*/
.bd-containero{
    max-width: 1390px !important;
	width: calc(100% - 3rem);
	margin-left: auto;
	margin-right: auto;
}
.card__container{
  display: grid;
  grid-template-columns: repeat(2,400px);
  justify-content: center;
  margin-top: 3rem;
}
.card{
  background-color: var(--black);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 10px;
}
.black__card{
    background-image: url(../../img/don/deta/card__black.jpg) !important;
    background: #000;    
}
.red__card{
    background-color: #2196f3;
    background-image: url(../../img/don/deta/card__blue.jpg) !important; 
}
.green__card{
    background-color: #999966;
    background-image: url(../../img/don/deta/card_green.jpg) !important;
}
div.card:nth-child(3) > h3:nth-child(1) {
  color: black;
 }
 div.card:nth-child(1) > h3:nth-child(1) {
  color: floralwhite;
 }
  
.card__title{
  color: var(--yellow);
  text-align: center;
  padding: 2rem;
}
.card__description{
  padding: 1rem;
  text-align: justify;
  margin-top: 1rem;
  font-size: 20px;
}
.card__line{
  width: 50%;
  margin: auto;
  display: block;
  border: 1px solid #F8BB31;
}
.card__img{
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1rem;
  margin: auto;
  display: block;
  margin-bottom: 2rem;
}
@media screen and (max-width:1450px){
  .card__container{
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
}
@media screen and (max-width:1000px) {
  .card__container{
    grid-template-columns: repeat(1,auto) !important;
    justify-content: center;
  }
}
@media screen and (max-width:420px) {
    .card__description{
        text-align: initial !important;
    }
    .card__title{
      text-align: initial;
    }
}
.fundacion__nos {
	margin-top: 3rem;
	font-size: 60px;
	line-height: 92px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	letter-spacing: -0.015em;
	color: #000000;
}
.fundacion__text{
  font-size: 25px;
  text-align: initial;
}
.nos__bar{
    border: 1px solid #F8BB31;
    width: 60%;
    display: block;
    margin: auto;
}

@media screen and (max-width:450px) {
  .fundacion__nos {
    font-size: 25px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: inherit;
    justify-content: inherit;
  }
    .fundacion__text{
      font-size: 17px;
      margin-top: -2rem;
      text-align: initial;
    }
    .card__container{
        margin-top: 1.5rem;
    }
    .card__description{
      padding: 1rem;
      text-align: initial !important;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 17px;
    }
    .card__line{
      width: 90%;
      margin: auto;
      display: block;
      border: 1px solid #F8BB31;
    }
    br{
      display: none;
    }
    div.card:nth-child(1) > p:nth-child(3) {
      margin-bottom: -2rem;
    }
    div.card:nth-child(2) > p:nth-child(3) {
      margin-bottom: -2rem;
    }
    div.card:nth-child(2) > p:nth-child(4) {
      margin-bottom: -2rem;
     }
     
     
     
}
