:root{
    --red:#f9032f;
    --black:#000;
    --white:#fff;
    --yellow:#f8bb31;
    --mb-1:.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
    --mb-6:3rem
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
html{
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
    /*Firefox*/
html{
    scrollbar-color: var(--yellow) #000;
    scrollbar-width: auto;
  }
  /*Webkit*/
  html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  html::-webkit-scrollbar-track {
    background-color: #000;
  }
  html::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
  }
hr{
    width:50%;
    border-color:#f8bb31!important;
    display:block;
    margin:auto
}
a{
    text-decoration:none
}
::selection {
	color: #000;
	background-color: var(--yellow);
}
::-moz-selection {
	color: #000;
	background-color: var(--yellow);
}
.section{
    padding:4rem 0 2rem
}
.l-main{
    overflow:hidden
}
.bd-container{
    max-width: 1470px;
    width:calc(100% - 3rem);
    margin-left:var(--mb-3);
    margin-right:var(--mb-3)
}
.bd-container-footer{
    max-width: 1540px;
    width:calc(100% - 3rem);
    margin-left:var(--mb-3);
    margin-right:var(--mb-3)
}
.bd-grid{
    display:grid;
    gap:1.5rem
}
.scroll-header{
    box-shadow:0 1px 4px rgba(0,0,0,.1)
}
.scrolltop{
    position:fixed;
    left:2rem;
    bottom:-20%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:.3rem;
    background:var(--yellow);
    border-radius:.4rem;
    z-index:1000;
    transition:.4s;
    visibility:hidden;
  }
  .scrolltop:hover{
    background-color:var(--black);
  }
  .scrolltop__icon{
    font-size:2.5rem;
    color:var(--black);
  }
  .scrolltop__icon:hover{
    color:var(--yellow);
  }
  .show-scroll{
    visibility:visible;
    bottom:1.5rem
  }
a{
    text-decoration:none
}
ul{
    padding:0;
    list-style:none
}
.l-main{
    overflow:hidden
}
.bd-container,.bd-container-footer{
    width:calc(100% - 3rem);
    margin-left:1.5rem;
    margin-right:1.5rem
}
.l-header{
    width:100%;
    top:0;
    left:0;
    z-index:100;
    background-color:#fff;
    border-bottom:2px var(--black) solid
}
.head__ver{
    background: var(--black);
}
.ver__lan{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.ver__blank{
    color: var(--black);
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    background-color: var(--yellow);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}
.ver__blank:hover{
    transition: 0.3s all ease-in-out;
    color: var(--black);
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.header__grid{
    display: grid;
    grid-template-columns:repeat(3,50%);
  }
  .areaA {
    background-color: #000;
    
  }
  .redes__nav{
    padding: 1.5rem;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .areaB {
    background-color:#000 ;
    justify-content: center;
  }
  @media screen and (max-width:600px) {
    .header__grid{
      grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    }
    .redes__nav{
    padding: 0.5rem;
  }
  .ver__lan{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.2rem !important;
 }
  .ver__blank{
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 5px;
  }
  }
@media screen and (max-width:850px) {
    .ver__lan{
        padding: 1.5rem;
    }
}
.nav{
    height:4rem;
    display:flex;
    justify-content:space-between;
    align-items:center
}
.nav__imagen{
    width:6rem;
    display:block;
    margin:auto;
    object-fit:cover
}
@media screen and (max-width:1080px){
    .nav__menu{
        position:fixed;
        top:-100%;
        left:0;
        right:0;
        width:95%;
        margin:0 auto;
        padding:2.5rem 0 0;
        text-align:center;
        background-color:#fff;
        transition:.4s;
        box-shadow:0 0 4px rgba(0,0,0,.1);
        border-radius:2rem;
        z-index:100
    }
    .l-header{
        border-bottom:1px var(--black) solid;
    }
    .nav__toggle{
        display:block!important
    }
    .redes__nav{
        display: inline-flex !important;
        font-size: 1.5rem;
        margin-bottom: 0rem !important;
    }
}
@media screen and (max-width:1030px){
    .nav__imagen{
        width:5rem;
        display:block;
        margin:auto;
        object-fit:cover
    }
    .nav__toggle{
        margin-top:1rem!important
    }
    
}


@media screen and (max-width:600px){
    .nav__imagen{
        width:5rem;
        display:block;
        margin:auto;
        object-fit:cover
    }
    .redes__nav {
        display: inline-flex !important;
        font-size: 1.5rem;
        margin-left: 0rem;
        margin-bottom: 0rem !important;
    }
}
@media screen and (max-width:400px){
    
}
.nav__item{
    color:var(--black);
    margin-bottom:1.5rem
}
.nav__link,.nav__logo,.nav__toggle{
    color:var(--black);
    font-weight:700
}
.nav__link{
    color:var(--black);
    transition:.3s
}
.nav__link:hover{
    color:var(--yellow);
}
.nav__toggle{
    color:var(--black);
    font-size:2rem;
    cursor:pointer;
    margin-top:2rem
}
.show-menu {
    top: calc(9rem + 0.5rem);
}
.active-link{
    position:relative
}
.active-link::before{
    content:'';
    position:absolute;
    bottom:-.75rem;
    left:45%;
    width:5px;
    height:5px;
    background-color:var(--black);
    border-radius:50%
}
.scroll-header{
    box-shadow:0 1px 4px rgba(0,0,0,.1)
}

.show-scroll{
    visibility:visible;
    bottom:1.5rem
}
@media screen and (min-width:1080px){
    body{
        margin:0
    }
    .nav{
        height:calc(4rem + 1.5rem)
    }
    .nav__list{
        display:flex;
        align-items:center
    }
    .nav__item{
        margin-left:2.5rem;
        margin-bottom:0
    }
    .nav__toggle{
        display:none
    }
    .redes__nav{
        font-size: 2rem;
    }
}
@media screen and (min-width:968px){
    .bd-container,.bd-container-footer{
        margin-left:auto;
        margin-right:auto
    }
}
.navigation .previous{
    position:absolute;
    top:40%;
    left:10px;
    font-size:3rem;
    font-weight:700px;
    z-index:5;
    color:var(--white);
}
.navigation .next{
    position:absolute;
    top:40%;
    right:10px;
    font-size:3rem;
    font-weight:700px;
    z-index:5;
    color:var(--white);
}
.navigation .btn-nav{
    background:var(--black);
    cursor:pointer;
    border-radius:50%;
    width:3rem;
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px;
    box-shadow:2px 2px 10px rgba(0,0,0,.3)
}
.imare{
    width:100%!important;
    height:710px;
    object-fit:cover!important;
    margin:auto
}
.image-fade{
    display:none
}
.container{
    max-width:100%;
    position:relative;
    margin:auto;
    margin-top:0
}
.dot{
    height:15px;
    width:15px;
    margin:0 2px;
    background-color:transparent;
    border-color:var(--yellow);
    border-width:5 px;
    border-style:solid;
    border-radius:50%;
    display:inline-block;
    transition:border-color .6s ease
}
.active{
    border-color:var(--black);
    background:var(--black)
}
.fade{
    -webkit-animation-name:fade-image;
    -webkit-animation-duration:1.5s;
    animation-name:fade-image;
    animation-duration:1.5s
}
@-webkit-keyframes fade-image{
    from{
        opacity:.5
    }
    to{
        opacity:1
    }
}
@keyframes fade-image{
    from{
        opacity:.5
    }
    to{
        opacity:1
    }
}
@media screen and (max-width:1370px){
    .imare{
        height:510px
    }
}
@media screen and (max-width:500px){
    .navigation .previous{
        font-size:2rem
    }
    .navigation .next{
        font-size:2rem
    }
    .navigation .btn-nav{
        width:2rem;
        height:2rem
    }
}
.butlike{
    color:#000;
    text-decoration:none
}
.hermes{
    color:var(--black);
    padding:0rem calc((100vw - 1100px)/ 2);
    text-align:center
}
.her{
    font-size:clamp(2rem,6vw,3rem);
    padding:0 1rem 3rem;
    text-transform:capitalize
}
.parher{
    font-size:clamp(1rem,5vw,1.2rem);
    text-align:justify
}
.boton{
    background-color:var(--yellow);
    border:none;
    color:#fff;
    padding:15px 32px;
    text-align:left;
    text-decoration:none;
    font-size:16px;
    margin:auto;
    cursor:pointer;
    border-radius:5px;
    z-index:900;
    margin-top:2.5rem
}
@media screen and (max-width:768px){
    .hermes{
        padding:3rem calc((100vw - 1100px)/ 2)
    }
    .her__container{
        padding:.7rem;
        margin-top:-2rem
    }
    .her{
        font-size:clamp(2rem,6vw,3rem);
        padding:0 1rem 3rem;
        text-transform:capitalize;
        margin-top:-2rem
    }
    .marg{
        margin-top: -5rem !important;
    }
}
.whoher{
    padding:2rem calc((100vw - 1400px)/ 2)
}
.marg{
    margin-top: -2rem !important;
}
.whoher__container{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:1rem
}
.whoher__img{
    width:100%;
    height:100%;
    border-radius:10px;
    margin-left:4rem;
    box-shadow:0 0 30px 0 rgb(0 0 0 / 10%);
    object-fit:cover!important
}
.whoher__heading{
    margin-bottom:1rem;
    font-size:clamp(2rem,6vw,3rem);
    text-transform:capitalize!important
}
.whoher__features{
    list-style:none
}
.whoher__feature{
    margin-top:2.5rem;
    margin-bottom:1.5rem;
    font-size:clamp(1rem,5vw,1.2rem)
}
.bxs-check-circle{
    margin-right:.5rem;
    color:#f8bb31!important
}
@media screen and (max-width:1400px){
    .whoher__img{
        margin-left:0
    }
}
@media screen and (max-width:850px){
    .whoher{
        padding:0 calc((100vw - 1400px)/ 2);
    }
    .qui__mov{
        margin-top: -5rem !important;
    }
    .whoher__container{
        grid-template-columns:1fr
    }
    .whoher__img{
        width:80%!important;
        height:80%!important;
        border-radius:10px;
        margin-left:0!important;
        object-fit:cover!important;
        margin:auto!important;
        display:block!important
    }
    .espacio{
        height:2rem;
        display:inline-block
    }
    .whoher__heading{
        text-align:center
    }
    .whoher__features{
        text-align:justify
    }
    .whoher__feature{
        text-align:justify!important
    }
}
@media screen and (max-width:500px){
    .whoher__img{
        width:80%!important;
        height:80%!important;
        border-radius:10px;
        margin-left:0!important;
        object-fit:cover!important;
        margin:auto!important;
        display:block!important
    }
    .espacio{
        height:2rem;
        display:inline-block
    }
    .boton{
        background-color:var(--yellow);
        border:none;
        color:#fff;
        padding:15px 32px;
        text-align:left;
        text-decoration:none;
        font-size:16px;
        margin:auto;
        cursor:pointer;
        border-radius:5px;
        z-index:900;
        display:block
    }
    .qui__mov {
        margin-top: -6rem !important;
      }
}
.departamentos{
    background:var(--black);
    color:var(--white);
    padding: 5rem calc((100vw - 1600px)/ 2);
    text-align:center
}
.departamentos h2{
    margin-top:-1rem;
    margin-bottom:1rem;
    font-size:clamp(2rem,5vw,3rem);
    padding:0 1rem;
    text-transform:capitalize
}
.departamentos__desc{
    padding:3rem;
    font-size:clamp(1rem,3vw,1.5rem);
    padding:1rem
}
.departamentos__wrapper{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:1rem;
    column-gap: 1rem;
}
.departamentos__card{
    padding:2rem;
    min-height:515px;
    width:400px;
    background:var(--white);
    color:var(--black);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.departamentos__perks{
    min-height:150px
}
.departamentos__card p{
    margin-bottom:2rem;
    text-align:justify;
}
.departamentos__modales{
    margin-bottom: 0.5rem !important;
}

.btn__depa{
background: var(--yellow);
border: none;
padding: 1rem;
border-radius: 10px;
width: 10rem;
font-size: 1rem;
}
.btn__depa:hover{
    cursor: pointer;
}
.margin__parr__one{
    margin-top:-11rem;
    
    text-align: center !important;
}
.margin__parr__two{
    margin-top:-12rem;
    
    text-align: center !important;
}
.card-icon{
    font-size:5rem;
    margin-bottom:2rem;
    color:#f8bb31!important
}
.departamentos__card h3{
    font-size:clamp(.6rem,5vw,1.5rem);
    margin-bottom:2rem;
    font-weight:inherit
}
.boton_depa{
    background-color:transparent;
    border:2px solid #000;
    color:var(--black);
    padding:15px 32px;
    text-align:left;
    text-decoration:none;
    box-shadow:0 0 30px 0 rgb(0 0 0 / 10%);
    font-size:16px;
    margin:auto;
    cursor:pointer;
    border-radius:5px;
    z-index:900
}
.boton_depa:nth-child(1){
    margin-bottom:4rem!important
}
@media screen and (max-width:1100px){
    .departamentos__wrapper{
        flex-direction:column;
        align-items:center
    }
    .departamentos__card{
        width:90%;
        margin-bottom:2rem
    }
}
.profesi{
    color:var(--white);
    padding:4rem calc((100vw - 1534px)/ 2);
    text-align:center;
    background-image:url(../images/back.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.profesi__webp{
    color:var(--white);
    padding:4rem calc((100vw - 1534px)/ 2);
    text-align:center;
    background-image:url(../images/back.webp);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.profesi h2{
    color:var(--white);
    margin-bottom:4rem;
    font-size:clamp(2rem,5vw,3rem);
    padding:0 1rem;
    text-transform:capitalize
}
.padre{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center
}
.padre img{
    width:100%;
    height:330px;
    flex-grow:0;
    flex-shrink:1;
    flex-basis:300px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    object-fit:cover
}
.padre h3{
    text-align:center;
    color:var(--white);
    margin:0 0 10px;
    -webkit-backface-visibility:hidden;
    z-index:100;
    padding:2rem 0 1rem 0
}
.padre p{
    text-align:center;
    color:var(--white);
    margin:0 0 35px;
    line-height:20px;
    -webkit-backface-visibility:hidden;
    max-height:57px;
    overflow:hidden;
    padding-top:2rem
}
.ramas h2{
    text-align:center;
    color:var(--black);
    margin-top:4rem;
    margin-bottom:4rem;
    font-size:clamp(2rem,5vw,3rem);
    padding:0 1rem;
    text-transform:capitalize
}
.ramas__container{
    grid-template-columns:repeat(2,1fr);
    padding-bottom:2rem
}
.ramas__content{
    position:relative;
    display:grid;
    padding:.25rem .75rem .75rem;
    background-color:var(--container-color);
    box-shadow:0 3px 12px rgba(65,11,16,.15);
    border-radius:1rem
}
.iconos{
    width:100%;
    justify-self:center;
    margin-top:1.25rem;
    margin-bottom:1.25rem;
    color:var(--yellow);
    font-size:4rem;
    text-align:center
}
.services-box{
    display:inline-block;
    text-decoration:none;
    background:#ffc000;
    width:150px;
    height:150px;
    text-align:center;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    transition:all .17s ease-in-out;
    -moz-transition:all .17s ease-in-out;
    -webkit-transition:all .17s ease-in-out;
    -o-transition:all .17s ease-in-out;
    position:relative;
    border:5px solid transparent;
    margin-bottom:30px;
    object-fit:contain;
    transition:.3s all ease-out
}
.services-box:hover{
    background:gray;
    transition:.3s all ease-in-out
}
.ramas__title{
    text-align:center!important;
    text-transform:capitalize
}
.ramas__title{
    font-size:var(--normal-font-size)
}
.margin__tittle{
    margin-top:-3.5rem!important
}
.margin__cate{
    margin-top:-5rem!important
}
.ramas__category{
    font-size:1rem;
    margin-bottom:var(--mb-1);
    margin-top:1rem;
    list-style:none
}
.ramas__preci{
    font-weight:var(--font-semi-bold);
    color:var(--title-color)
}
.ramas__button{
    position:absolute;
    bottom:0;
    right:0;
    display:flex;
    font-size:1.25rem;
    padding:.5rem .625rem;
    border-radius:1rem 0 1rem 0
}
@media screen and (min-width:576px){
    .section-title-center,.send__description,.share__data{
        text-align:initial
    }
}
@media screen and(max-width:500px){
    .ramas__category{
        font-size:.8rem!important;
        margin-bottom:var(--mb-1);
        margin-top:1rem;
        list-style:none;
        text-align:justify!important
    }
}
@media screen and (min-width:1200px){
    .ramas__container{
        grid-template-columns:repeat(4,300px);
        justify-content:center
    }
    .ramas__content{
        padding:.5rem 1.5rem 1.5rem
    }
    .ramas__img{
        width:120px;
        margin-bottom:var(--mb-1)
    }
    .ramas__category,.ramas__title{
        text-align:initial
    }
    .ramas__button{
        padding:.75rem
    }
}
@media screen and (max-width:600px){
    .ramas__container{
        grid-template-columns:none!important
    }
    .margin__tittle{
        margin-top:.5rem!important;
        margin-bottom:1.5rem
    }
    .margin__cate{
        margin-top:0!important
    }  
}
@media screen and (max-width:900px) {
    .animate-img-ch{
        margin-top: 2rem !important;
    }
    .profesi{
        background-image: none !important;
        padding:2rem calc((100vw - 1534px)/ 2);
        background-color:#000 !important;
    }
    .profesi h2 {
        margin-bottom: 3rem !important;
        margin-top: -3rem !important;
    }
}
.marcas{
    background:0 0;
    color:var(--white);
    padding:3rem calc((100vw - 1712px)/ 2);
    text-align:center;
    display:block;
    margin:auto
}
.marcas h2{
    color:var(--black);
    margin-bottom:4rem;
    font-size:clamp(2rem,5vw,3rem);
    padding:0 1rem;
    text-transform:uppercase
}
#container{
    margin:auto
}
.grid-item{
    display:inline-block;
    height:259px;
    overflow:hidden;
    text-align:center;
    width:400px
}
.grid-item img{
    width:100%;
    height:auto;
    object-fit:cover!important;
    filter:url(filters.svg#grayscale);
    filter:gray;
    -webkit-filter:grayscale(1);
    transition:.9s
}
.grid-item img:hover{
    filter:none
}
.isotope-pager .pager{
    display:inline-block
}
.filters{
    width:100%;
    text-align:center;
    padding-bottom:35px;
    padding-top:20px
}
.filters ul{
    list-style:none;
    padding:20px 10px;
    margin:0 40px;
    border-radius:30px;
    background-color:#fff
}
.filters li{
    display:inline-block;
    padding:10px 10px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    border-radius:10px!important
}
.filters li a{
    color:var(--black);
    text-decoration:none;
    transition:.3s all ease-in;
    padding:10px 10px
}
.filters li:hover{
    box-shadow:0 2px 6px rgb(65 11 16 / 15%);
    background:var(--yellow);
    color:#fff!important;
    transition:.3s all ease-in-out
}
.filters li.active a{
    color:#fff!important
}
.isotope-pager a{
    margin:6px 1px;
    display:inline-block;
    width:50px;
    line-height:31px;
    color:var(--white);
    font-weight:600;
    transition:.3s;
    border-radius:25px;
    background-color:var(--black);
    text-decoration:none
}
.isotope-pager .active{
    color:var(--yellow)!important;
    border-radius:25px;
    background-color:var(--black)
}
.isotope-pager .prev{
    border-radius:30px 0 0 30px
}
.isotope-pager .next{
    border-radius:0 30px 30px 0
}
.isotope-pager a::before,.isotope-pager a:after{
    content:"";
    position:absolute;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent
}
.isotope-pager .num::before,.next::before{
    border-right:20px solid #2c3e50;
    right:100%
}
.isotope-pager .num:after,.prev:after{
    border-right:20px solid #f1f1f1;
    right:0
}
.overlay{
    position:absolute;
    bottom:0;
    color:var(--black);
    width:100%;
    transition:.5s ease;
    opacity:0;
    font-size:20px;
    padding:20px;
    text-align:center;
    cursor:pointer
}
.grid-item:hover .overlay{
    opacity:1
}
@media screen and (max-width:600px){
    .marcas{
        padding:2rem calc((100vw - 1470px)/ 2)
    }
    .filters{
        padding-bottom:0;
        padding-top:0
    }
    .filters ul{
        padding:0;
        margin:0
    }
    #container{
        margin:auto;
        width:100%!important
    }
    .grid-item{
        display:inline-block;
        height:259px;
        overflow:hidden;
        text-align:center;
        width:100%!important
    }
}
footer{
    background-color:var(--black)
}
.footer__container{
    grid-template-columns:repeat(auto-fill, 300px) 240px;
}
.footer__logo{
    color:#fff
}
.footer__description,.footer__title{
    color:#fff;
    margin-bottom:var(--mb-2)
}
.footer__logo,.footer__title{
    font-size:1.125rem;
    color:var(--yellow)
}
.footer__link{
    display:inline-block;
    margin-bottom:.75rem;
    color:#fff;
    transition:.3s all ease-in
}
.footer__link:hover{
    color:var(--yellow);
    transition:.3s all ease-in-out
}
.footer__social{
    font-size:1.5rem;
    color:#fff;
    margin-right:var(--mb-3)
}
.footer__social:hover{
    color:#fff
}
.footer__copy{
    text-align:center;
    color:#ccc;
    margin-top:2rem
}
@media screen and (min-width:968px){
    .bd-container,.bd-container-footer{
        margin-left:auto;
        margin-right:auto
    }
}
iframe{
    border:0;
    width:87%;
    height:35rem;
    display:block;
    margin:auto
}
.text{
    width:100%;
    margin:auto;
    border-radius:5px;
    border:1px solid var(--yellow);
    padding:1.5rem;
    margin-top:1rem;
    margin-bottom:2rem
}
.textes{
    width:100%;
    margin:auto;
    border-radius:5px;
    border:1px solid var(--yellow);
    padding:1.5rem;
    margin-top:1rem;
    margin-bottom:2rem;
	height: 5rem;
}
textarea{
    resize:none;
}
::placeholder{
    color:var(--black);
	font-size: 1rem;
}
.mensaje{
    padding:1.5rem;
    width:38rem;
    border:1px solid var(--yellow);
    margin-bottom:2rem;
    margin-top:1rem;
    border-radius:5px
}
@media screen and (max-width:600px){
    iframe{
        border:0;
        width:100% !important;
        height:30rem;
        display:block;
        margin:0
    }
    .text{
        width:100%!important
    }
    .mensaje{
        padding:1.5rem;
        width:21rem;
        border:1px solid var(--yellow);
        border-radius:5px
    }
    .footer__container{
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    }
}
.botocon{
    background-color:var(--yellow);
    border:none;
    color:#000;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    box-shadow:0 0 30px 0 rgb(0 0 0 / 10%);
    font-size:16px;
    margin:auto;
    cursor:pointer;
    border-radius:5px;
    z-index:900;
    display:block
}
.imagenest{
    max-width:60%;
    height:auto;
    object-fit:cover!important;
    border-radius:5px;
    display:block;
    margin:auto;
    justify-content:center
}
.lea__pro{
    max-width:50%;
    height:auto;
    object-fit:cover!important;
    border-radius:5px;
    display:block;
    margin:auto;
    justify-content:center
}

.marcas h2{
    font-size:clamp(2rem,5vw,3rem);
    padding:0 1rem;
    text-transform:capitalize;
    text-align:center
}
.container__marc{
    width: 1000px;
    margin: auto;
    display: grid;
    width: 90%;
    grid-template-rows: repeat(3, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fill,100px);
    grid-template-columns: repeat(auto-fit,100px);
    grid-template-columns: repeat(4,minmax(auto, 1fr));
    grid-gap:0rem;
    grid-auto-rows: 150px;
}
.image__mark{
    width: 100%;
    object-fit: cover !important;
    border-radius: 5px;
    display: block;
    margin: auto;
    height: 100%;
}
.item{
    padding: 0rem;
    border-radius: 5px;
    /*border: 1px solid #000;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media screen and (max-width:600px) {
    .container__marc{
        grid-template-columns: repeat(2,minmax(20%, 1fr));
   }
   .margen__arriba{
    margin-top: 0rem !important;
}
.filter{
    float: left;
width: 50% !important;
text-align: center;
}
.controls{
    margin-top: -2rem !important;
}
}
/**************************************************************************************************/
.controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    margin-top: -3rem;
}
.container__marc .item{
    display: none;
}
#filters{
    padding:0;
    list-style:none;
    width:1500px;
    overflow:hidden 
}
#filters{
    float:left 
}
button.filter{
    margin: 0px;
    font-size: 16px;
}
button{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
}
button.active{
    background-color: #f8bb31;
    color: #000;
}
button:focus{
    outline: 0 none;
}




@media screen and (max-width:1490px){
 
    .whoher {
        padding: 2rem calc((100vw - 1290px)/ 2);
    }
    .departamentos {
        background: var(--black);
        color: var(--white);
        padding: 5rem calc((100vw - 1300px)/ 2);
        text-align: center;
    }
}
div.noticia{
    margin:60px auto;
    color:#000;
    padding:15px
}
div.noticia,h3{
    margin-bottom:.5rem
}
div.noticia i.izquierda{
    float:left!important;
    margin-right:15px!important;
    background:var(--yellow);
    color:#fff;
    font-size:2rem;
    padding:1rem;
    border-radius:50px
}
div.noticia i.derecha{
    float:left!important;
    margin-left:10px!important;
    background:var(--yellow);
    color:#fff;
    font-size:2rem;
    padding:1rem;
    border-radius:50px
}
.dere__noti{
    margin-left:6rem
}
@media screen and (max-width:1200px){
    div.noticia{
        margin:20px auto;
        color:#000;
        padding:15px
    }
    div.noticia i.derecha{
        float:right!important;
        margin-left:10px!important;
        background:var(--yellow);
        color:#fff;
        font-size:2rem;
        padding:1rem;
        border-radius:50px
    }
    .dere__noti{
        margin-left:0!important
    }
    div.noticia,h3{
        margin-bottom:0
    }
    div.noticia,p{
        margin-bottom:1rem
    }
}
@media screen and (max-width:600px){
    .contorno{
        margin-left:5rem;
        text-align:justify;
        margin-top:.5rem
    }
    .dere__noti{
        margin-right:5rem!important
    }
    .desc__noti{
        text-align:justify!important;
        margin-top:.5rem
    }
}
.requerido{
    display: inline-block;
    font-size: 1rem;
    color: var(--yellow);
     font-weight: bold;
}
.text-white{
    color: #000 !important;
}
/***modales**/
  /* The Modal (background) */
  .modal,.modale,.modaler,.modalere,.modalbio,.modalbioe,.modalluis,.modalsalva {
    display:none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.70); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal-content,.modal-contente,.modal-contenter,.modal-contentere,.modal-bio,.modal-bioe,.modal-luis,.modal-salva{
    background-color: #fefefe;
    top:50%;
    left:50%;
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border-radius:10px;
    border: 1px solid #ccc;
    width: 95%;
    /*Couldbemoreorless,dependingonscreensize*/transform: translate(-50% , -50%);
    scrollbar-width: thin;
    overflow-y: auto;
    height: 80vh;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
  @media screen and (max-width:600px) {
      .modal-contentere,.modal-contente{
        background-color: #fefefe;
        top: 45%;
        left: 50%;
        color: #4a4a4a;
        max-width: 100%;
        position: relative;
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 80%;
        transform: translate(-50% , -50%);
        -ms-overflow-style: none;
        scrollbar-width: thin;
        overflow-y: scroll !important;
        height: 30rem;
      }
      
  }
  .modal-header{
    align-items: stretch;
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  .modal-header-title{
    align-items: center;
    color: var(--black);
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 2rem;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .modal-header-icon{
      background: 0 0;
      border: none;
      color: currentColor;
      font-family: inherit;
      font-size: 2em;
      margin: 0;
      padding: 0;
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 1rem;
      color: var(--yellow);
      margin-top: -9rem;
      text-shadow: #ffc000 0.1em 0.1em 0.1em;
  }
  #modal-content.animation-1{
    animation: animation-1 0.5s forwards;
  }
  #modal-contente.animation-2{
    animation: animation-1 0.5s forwards;
  }
  #modal-contenter.animation-3{
    animation: animation-1 0.5s forwards;
  }
  #modal-contentere.animation-4{
    animation: animation-1 0.5s forwards;
  }
  #modal-bio.animation-bio{
    animation: animation-1 0.5s forwards;
}
#modal-bio.animation-bioe{
    animation: animation-1 0.5s forwards;
}#modal-bio.animation-luis{
    animation: animation-1 0.5s forwards;
}
#modal-bio.animation-salva{
    animation: animation-1 0.5s forwards;
}
  .modal-body{
    padding: 2rem;
  }
  .modal-body p{
      color: #000;
  }
  .modal__par__tite{
      color: var(--black) !important;
      font-weight: 700;
      margin-bottom: 0.5rem !important;
      text-shadow: #ccc 0.1em 0.1em 0.1em;
}
  .lista__modal{
      text-align: left;
      margin: 1rem !important;
      color: #000 !important;
  }
  @keyframes animation-1{
    0% {
      transform: translate(-50%,-50%) scale(0);
    }
    50% {
      transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
      transform: translate(-50%,-50%) scale(0.9);
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  @keyframes animation-2{
    0% {
      transform: translate(-50%,-50%) scale(0);
    }
    50% {
      transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
      transform: translate(-50%,-50%) scale(0.9);
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  @keyframes animation-3{
    0% {
      transform: translate(-50%,-50%) scale(0);
    }
    50% {
      transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
      transform: translate(-50%,-50%) scale(0.9);
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  @keyframes animation-4{
    0% {
      transform: translate(-50%,-50%) scale(0);
    }
    50% {
      transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
      transform: translate(-50%,-50%) scale(0.9);
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  @keyframes animation-bio{
    0% {
      transform: translate(-50%,-50%) scale(0);
    }
    50% {
      transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
      transform: translate(-50%,-50%) scale(0.9);
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  @keyframes animation-bioe{
    0% {
      transform: translate(-50%,-50%) scale(0);
    }
    50% {
      transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
      transform: translate(-50%,-50%) scale(0.9);
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  @keyframes animation-luis{
    0% {
      transform: translate(-50%,-50%) scale(0);
    }
    50% {
      transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
      transform: translate(-50%,-50%) scale(0.9);
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  @keyframes animation-salva{
    0% {
      transform: translate(-50%,-50%) scale(0);
    }
    50% {
      transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
      transform: translate(-50%,-50%) scale(0.9);
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  /***responsive carrusel**/
  .movil__slide{
    display: none;
}
  @media screen and (max-width:750px) {
      .movil__slid{
          display: none !important;
      }
      .movil__slide{
          display: block !important;
      }
      .imare{
        height:auto !important;
        object-fit:cover!important
    }
  }
  .navigation__mov .previous__mov{
    position:absolute;
    top:40%;
    left:10px;
    font-size:3rem;
    font-weight:700px;
    z-index:5;
    color:var(--white);
}
.navigation__mov .next__mov{
    position:absolute;
    top:40%;
    right:10px;
    font-size:3rem;
    font-weight:700px;
    z-index:5;
    color:var(--white);
}
.navigation__mov .btn-nav-mov{
    background:var(--black);
    cursor:pointer;
    border-radius:50%;
    width:3rem;
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px;
    box-shadow:2px 2px 10px rgba(0,0,0,.3)
}
.imare{
    width:100%!important;
    height:710px;
    object-fit:cover!important;
    margin:auto
}
.image-fade-mov{
    display:none
}
.container__mov{
    max-width:100%;
    position:relative;
    margin:auto;
    margin-top: -1.2rem !important;
}
.dot__mov{
    height:15px;
    width:15px;
    margin:0 2px;
    background-color:transparent;
    border-color:var(--yellow);
    border-width:5 px;
    border-style:solid;
    border-radius:50%;
    display:inline-block;
    transition:border-color .6s ease
}
.activemov{
    border-color:var(--black);
    background:var(--black)
}
.fade{
    -webkit-animation-name:fade-image;
    -webkit-animation-duration:1.5s;
    animation-name:fade-image;
    animation-duration:1.5s
}
@-webkit-keyframes fade-image{
    from{
        opacity:.5
    }
    to{
        opacity:1
    }
}
@keyframes fade-image{
    from{
        opacity:.5
    }
    to{
        opacity:1
    }
}
@media screen and (max-width:1370px){
    .imare{
        height:510px
    }
}
@media screen and (max-width:500px){
    .navigation__mov .previous__mov{
        font-size:2rem
    }
    .navigation__mov .next__mov{
        font-size:2rem
    }
    .navigation__mov .btn-nav-mov{
        width:2rem;
        height:2rem
    }
}
.modal__contact{
    color: #000;
    text-decoration: none;
}
.modal__face{
    font-size: 1.5rem;
}
.lee__bio{
    background: var(--yellow);
    color: var(--black) !important;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.rama__imge{
    margin-bottom: 1rem;
    margin-top: 1.8rem;
    width: 20%;
  }