.bd-containeren{
    width: 100%;
    background-image: url(../../img/orgu/det/fon__orgu__pru.jpg);
  }
  .amor__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1500px;
    padding: 1rem;
    justify-content: center;
    justify-items: center;
    margin: auto;
  }
  .img__amor{
    width: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .section {
    padding: 3rem 0 3rem;
  }
  .section-title-center-head {
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 2rem;
    color: #fff;
  }
  .color__head{
    color: #000;
  }
  .first__description{
    font-size: 18px;
    margin-bottom: 5rem;
    color: #fff;
  }
  .btn__dona{
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #000;
    text-decoration: none;
    margin-left: 3rem;
  }
  .btn__orgu{
      padding: 1rem;
      color: #fff;
      text-decoration: none;
      background-color: #000;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
  }
  .amor__img{
    order: 1 !important;
  }
  @media screen and (max-width:1500px) {
    .amor__container {
        max-width: 1300px;
      }
      .amor__img{
        order: 1 !important;
    }
  }
  @media screen and (max-width:1280px) {
    .amor__container {
        max-width: 1160px;
      }
  }
  @media screen and (max-width:1030px) {
    .amor__container {
        max-width: 940px;
    }
    .section-title-center-head {
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 2rem;
        color: #fff;
    }
    
  }
  @media screen and (max-width:780px) {
    .amor__container{
        grid-template-columns: repeat(1, 1fr);
    }
    .img__amor {
        width: 100%;
    }
    .first__description{
        font-size: 18px;
        margin-bottom: 3rem;
        color: #fff;
    }
    .botones__container {
        margin-bottom: 3rem;
    }
    .amor__img {
        width: 80%;
    }
    .amor__img{
        order: 1 !important;
    }
    
  }
  @media screen and (max-width:500px) {
    .amor__img {
        width: 100%;
    }
    .img__amor {
        width: 100%;
    }
    .botones__container {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
  }
/*finde nosostros head*/
.bd-containero{
    max-width: 1390px !important;
	width: calc(100% - 3rem);
	margin-left: auto;
	margin-right: auto;
}
.fundacion__nos {
	margin-top: 3rem;
	font-size: 50px;
	line-height: 92px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	letter-spacing: -0.015em;
	color: #000000;
}
.nos__bar{
    border: 1px solid #F8BB31;
    width: 60%;
    display: block;
    margin: auto;
}
.fundacion__text{
    text-align: center;
    color: #000;
    font-size: 1.5rem;
}
@media screen and (max-width:450px) {
    .fundacion__nos {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 25px !important;
        line-height: inherit;
        text-align: justify;
        color: #000000;
    }
    .fundacion__text{
        font-size: 1rem !important;
        margin-top: -2rem;
        text-align: justify;
    }
    .card__container{
        margin-top: 1.5rem;
    }
    .nosotros__description {
        color: #000;
        margin-bottom: 2rem;
        font-size: 1rem !important;
        text-align: justify;
    }
    p.nosotros__description:nth-child(8) {
        margin-bottom: -4rem;
    }
   
}
.nosotros__description{
    color: #000;
    margin-bottom: 2rem;
    font-size: 18px;
}
.first__des{
    margin-top: 3rem;
}
.arte__hui{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
}
@media screen and (max-width:600px) {
    .arte__hui{
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0rem !important;
        grid-gap: 1rem !important;
    }
    .first__des{
        margin-top: 1.4rem;
    }
}
.arte{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    object-fit: cover;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.gallery__item:nth-child(1){
    grid-row-start: span 2;
}
.gallery__item:nth-child(2){
    grid-column-start: span 1;
}
.gallery__item:nth-child(3){
    grid-row-start: span 1;
}
.gallery__item:nth-child(4){
    grid-column-start: span 1;
}
.end__parr{
    margin-top: 0rem;
}
   