.bd-containeren{
    width: 100%;
    background-image: url(../../img/ar/det/fon__arr.jpg);
  }
  .amor__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1500px;
    padding: 1rem;
    justify-content: center;
    justify-items: center;
    margin: auto;
  }
  .img__amor{
    width: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    height: 21rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .section {
    padding: 3rem 0 3rem;
  }
  .section-title-center-head {
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 2rem;
    color: #fff;
  }
  .color__head{
    color: #f8bb31;
  }
  .first__description{
    font-size: 18px;
    margin-bottom: 5rem;
    color: #fff;
  }
  .btn__dona{
    padding: 1rem;
    border: 1px solid #f8bb31;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    text-decoration: none;
    margin-left: 3rem;
  }
  .btn__orgu{
      padding: 1rem;
      color: #fff;
      text-decoration: none;
      background-color: #f8bb31;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
  }
  .amor__img{
    order: -initial !important;
    width: 100%;
  }
  @media screen and (max-width:1500px) {
    .amor__container {
        max-width: 1300px;
      }
      .artistas__fundacion {
        max-width: 1250px;
        margin: auto;
    }
  }
  
  @media screen and (max-width:1280px) {
    .amor__container {
        max-width: 1160px;
      }
      .artistas__fundacion {
        max-width: 1160px;
        margin: auto;
    }
  }
  @media screen and (max-width:1030px) {
    .amor__container {
        max-width: 940px;
    }
    .artistas__fundacion {
        max-width: 940px;
        margin: auto;
    }
    .section-title-center-head {
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 2rem;
        color: #fff;
    }
    
  }
  @media screen and (max-width:780px) {
    .amor__container{
        grid-template-columns: repeat(1, 1fr);
    }
    .img__amor {
        width: 100%;
    }
    .first__description{
        font-size: 18px;
        margin-bottom: 3rem;
        color: #fff;
    }
    .botones__container {
        margin-bottom: 3rem;
    }
    .amor__img {
        width: 100%;
    }
    .amor__img{
        order: 1 !important;
    }
    .artistas__fundacion {
        max-width: 700px;
        margin: auto;
    }
    
  }
  @media screen and (max-width:500px) {
    .amor__img {
        width: 100%;
    }
    .img__amor {
        width: 100%;
    }
    .botones__container {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .artistas__fundacion {
        max-width: 400px;
        margin: auto;
    }
  }
  @media screen and (max-width:370px) {
    .artistas__fundacion {
        max-width: 350px;
        margin: auto;
    }
  }
.artistas__fundacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:1rem;
    margin-top: 2rem;
}
.artistas__img{
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.artistas__nombre{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.artis__swi{
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.swiper {
    background: #000;
    background-image: url(../../img/deta/fondo__carr.png);
    padding: 2rem !important;
  }
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1rem !important;
    display: block !important;
    margin: auto !important;
}
.swiper-pagination-bullet {
    background: #f8bb31 !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background-color: #f8bb31 !important;
}
.name__swi{
    color: #fff !important;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width:600px) {
    .swiper-pagination-bullet {
        background: #f8bb31 !important;
        width: 1rem !important;
        height: 1rem !important;
    }
    .name__swi{
        color: #fff !important;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .artistas__fundacion{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:0.5rem;
        margin-top: 2rem;
    }
    .artistas__img{
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

}