.bd-containero{
    max-width: 1700px !important;
    margin-left: auto;
    margin-right: auto;
}
.bd-containeren {
    width: 100%;
    background-color: #124015;
    background-image: url(../../img/ar/det/Fondo-1920x1080.png);
}
@media screen and (min-width: 576px) {
    .first__container,
    .second__container,.nos__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .section-title-center-head,
    .first__data,.second__data {
        text-align: initial;
    }
    .nos__container{
      padding: 1rem;
    }
  }
  .bd-grid {
    display: grid;
    gap: 1.5rem;
  }
  .nos__container{
    row-gap:.5rem
  }
  .nos__container{
    column-gap:5rem
  }
  .nos__img{
    order:1;
  }
  .nos__imagen {
      width: 70%;
      height: auto;
      display: block;
      margin: auto;
      object-fit: cover;
      border-radius: 10px;
  }
  .first__data{
    margin-left: 12rem !important;
    width: 90%;
  }
  .first__description{
    width: 80%;
  }
  .section-title-center-head{
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 2rem;
    color: #fff;
  }
  .color__head{
    color: #F8BB31;
}
.btn__dona{
    padding: 1rem;
    border: 1px solid #F8BB31;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    text-decoration: none;
    margin-left: 3rem;
  }
  .btn__orgu{
      padding: 1rem;
      color: #000;
      text-decoration: none;
      background-color: #F8BB31;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
  }
@media screen and (max-width:1500px) {
    .bd-containero{
        max-width: 1300px !important;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:1030px) {
    .first__data {
        margin-left: 4rem !important;
        width: 90%;
      }
      .section-title-center-head {
        font-weight: normal;
        font-size: 50px;
        color: #fff;
    }
    .bd-containero {
        max-width: 950px !important;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:1000px) {
    .bd-containero{
        max-width: 700px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .fundacion__title{
        line-height: inherit;
        font-size: 25px !important;
    }
    .artistas__nombre{
        font-size: 1rem;
    }
    .name__swi{
        font-size: 1rem;
    }
    .first__data {
        margin-left: 5rem !important;
        width: 90%;
        margin-top: -3rem;
    }
    .section-title-center-head{
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 2rem;
        color: #fff;
    }
    .nos__container {
        padding: 0rem;
    }
}
@media screen and (max-width:600px) {
    .bd-containero{
        max-width: 400px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .section-title-center-head {
        font-weight: normal;
        font-size: 27px;
        margin-bottom: 2rem;
        color: #fff;
    }
    .first__data {
        margin-left: 2rem !important;
        width: 90%;
        margin-top: -2rem;
    }
    .botones__container {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
}
@media screen and (max-width:380px) {
    .bd-containero {
        max-width: 340px !important;
    }
}
.artistas__fundacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:1rem;
    margin-top: 2rem;
}
.artistas__img{
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.artistas__nombre{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.artis__swi{
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.swiper {
    background: #000;
    background-image: url(../../img/deta/fondo__carr.png);
    padding: 2rem !important;
  }
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1rem !important;
    display: block !important;
    margin: auto !important;
}
.swiper-pagination-bullet {
    background: #f8bb31 !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background-color: #f8bb31 !important;
}
.name__swi{
    color: #fff !important;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width:600px) {
    .swiper-pagination-bullet {
        background: #f8bb31 !important;
        width: 1rem !important;
        height: 1rem !important;
    }
    .name__swi{
        color: #fff !important;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .artistas__fundacion{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:0.5rem;
        margin-top: 2rem;
    }
    .artistas__img{
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

}